# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Simple Chatty Bot/task/out/test/classes/
/Topics/Integer types and operations/Desks/out/
/Topics/Integer types and operations/Desks/out/production/classes/
/Topics/Integer types and operations/Good rest on vacation/out/
/Topics/Integer types and operations/Good rest on vacation/out/production/classes/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/production/classes/
/Topics/Integer types and operations/Reading integer numbers/out/
/Topics/Integer types and operations/Reading integer numbers/out/production/classes/
/Topics/Integer types and operations/Theory/out/
/Topics/Integer types and operations/Theory/out/production/classes/
/Topics/String/Check prefix ignoring the case/out/
/Topics/String/Check prefix ignoring the case/out/production/classes/
/Topics/String/Replacing 'a' with 'b'/out/
/Topics/String/Replacing 'a' with 'b'/out/production/classes/
/Topics/String/Theory/out/
/Topics/String/Theory/out/production/classes/
/Topics/The for-loop/The roots of an equation/out/
/Topics/The for-loop/The roots of an equation/out/production/classes/